* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
   font-size: 1em;
   font-family: 'Roboto', sans-serif;
}

.wrapper {
   max-width: 1200px;
   margin: auto;
}

.header {
   background-color: rgb(82, 78, 57);
}

.navigation {
   padding: 25px 35px;
}

.navigation-list {
   display: flex;
   justify-content: space-between;
}

.navigation_link {
   font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 180%;
   color: black;
   font-weight: 900;
}

.link_point:hover {
   transform: scale(1.2);
   transition: 0.5s;
}

.navigation_link:hover {
   color: aquamarine;
}

.myPhoto {
   width: 320px;
   height: 450px;
   border-radius: 30px 0 30px 0;
   border: 1px solid black;
}

h1 {
   text-align: center;
}

.cardInfo {
   display: flex;
   justify-content: space-around;
   padding: 15px 35px 35px 35px;
}

.info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.name {
   font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-bottom: 30px;
   font-size: 400%;
   font-weight: 900;
}

.developer {
   font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 200%;
   font-weight: 900;
}

.main {
   background-color: rgb(119, 112, 75);
}

section {
   display: flex;
}

.nameSection {
   padding-top: 20px;
   width: 40%;
   display: flex;
   justify-content: center;
}

.infoSection {
   width: 50%;
   padding: 15px 35px 15px 10px;
}

h2 {
   font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 200%;
   font-weight: 600;
}

.infoStyle {
   font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 120%;
   font-weight: 600;
   line-height: 1.4;
}

p .linkGit {
   color: black;
   text-decoration: solid;
   text-decoration-line: underline;
   text-decoration-color: rgb(63, 59, 40);
}

.linkGit:hover {
   text-decoration-color: rgb(127, 153, 144);
   color: rgb(127, 153, 144);
}

.wrapBackgr section:nth-child(odd) {
   background: linear-gradient(90deg, rgba(119, 112, 75, 1) 0%, rgba(127, 255, 212, 1) 15%, rgba(119, 112, 75, 1) 80%);
}

.code{
   display: flex;
}

.codePurpl {
   color: #b294bb;
}

.codeOrang {
   color: #de935f;
}

.codeBlue {
   color: #81a2be;
}

.photoZoo {
   width: 260px;
   height: 235px;
   border: 1px solid black;
   margin-bottom: 15px;
}

.zoo {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.engSect {
   padding-bottom: 15px;
}

.footer {
   background-color: rgb(82, 78, 57);
}

.footerSect {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.zoo:hover a {
   transform: scale(1.1);
   transition: 0.7s;
   opacity: 0.8;
}

.zoo:hover p {
   opacity: 0;
   transition: 0.5s;
}

span a.linkGit {
   color: black;
}

.iconRs {
   width: 100px;
   height: 70px;
}

.footInfo p {
   text-align: center;
}

@media (max-width: 800px) {
   .navigation_link {
   font-size: 120%;
   }
}

@media (max-width: 640px) {
   .cardInfo {
      flex-direction: column;
      justify-items: center;
      align-items: center;
   }
}

@media (max-width: 800px) {
   .navigation {
      padding: 15px 30px;
   }
}

@media (max-width: 540px) {
   .navigation_link {
      font-size: 90%;
   }
}

@media (max-width: 540px) {
   .myPhoto {
      width: 270px;
      height: 380px;
      border-radius: 0 0 100% 100%;
      border: 1px solid black;
   }
}

@media (max-width: 540px) {
   .name {
      margin-bottom: 15px;
      font-size: 250%;
      font-weight: 900;
   }
}

@media (max-width: 540px) {
   .developer {
      font-size: 150%;
      font-weight: 900;
   }
}

@media (max-width: 425px) {
   .navigation_link {
      font-size: 70%;
   }
}

